body {
    background-image: url("");
    background-repeat: no-repeat;
}

.center-align {
    text-align: center;
}

.padding-right {
    padding-right: 5%;
}

.large-icon {
    font-size: 70px;
}

.square {
    width: 80%;
}

