/* genreal */

body {
    background-image: url("https://www.wallpaperflare.com/static/767/594/322/books-library-bokeh-depth-of-field-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* nav bar */
.brand-logo {
    font-family: Martel600;
}

/* Padding */

.padding-right {
    padding-right: 5%;
}

.padding-top {
    padding-top: 5%;
}

.padding-bottom {
    padding-bottom: 5%
}

.fa-align-left {
    padding-right: 4px;
}


.hidden {
    display: none;
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Italianno;
}

.large-heading {
    font-size: 4.5rem;
}

.large-icon {
    font-size: 70px;
}

.text-shadow {
    text-shadow: 0px 0px 10px #000;
}

.center-align {
    text-align: center;
}

/* backgrounds */

.shadow-background {
    background-color: rgba(0, 0, 0, 0.5);
}

.dark-shadow-background {
    background-color: rgba(0, 0, 0, 0.75);
}

/* forms */
.rating>p {
    display: inline;
}

form input {
    color: white;
}

form textarea {
    color: white;
}