{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text text-shadow large-heading"> Add To Library </h3>

<div class="collapsible-header white-text shadow-background row">
    <i class="fas fa-book"></i>
    <div class="padding-right">Name: {{ book.title.capitalize() }}</div>
    <div class="padding-right">Genre: {{ book.genre.capitalize() }}</div>
    <div class="padding-right">Author: {{ book.author.capitalize() }}</div>
    <div class="padding-right">Year Of Publishing: {{ book.year }}</div>
</div>

<div class="row center-align">
    <form class="col s12 m6 offset-m3 shadow-background white-text" method="POST" action="{{ url_for('add_to_library', book_id=book._id) }}">

        <div class="switch row">
            <span> Add To 'Books I've Read' List?</span>
            <label class="no-background">
                No
                <input type="checkbox" id="read_book" name="read_book">
                <span class="lever"></span>
                Yes
            </label>
        </div>
        <div class="switch row">
            <span> Add To 'Books To Read' List?</span>
            <label class="no-background">
                No
                <input type="checkbox" id="to_read_book" name="to_read_book">
                <span class="lever"></span>
                Yes
            </label>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light green darken-2 line-height-0" type="submit" name="action">Add To Library!
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </form>
</div>

{% endblock %}