{% extends "base.html" %}
{% block content %}

<h3 class="center-align"> Add Genre </h3>

<div class="row">
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('add_genre') }}">
        <div class="row">
            <div class="input-field col s12 ">
                <input id="genre" name="genre" type="text" class="validate">
                <label for="genre">Genre</label>
            </div>
                <button class="btn waves-effect waves-light amber darken-2" type="submit" name="action">Add Genre
            <i class="fas fa-plus"></i>
        </button>
    </form>
</div>

{% endblock %}