{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text text-shadow"> All Books </h3>

<!--only shows if user is logged in-->
{% if session['user'] %}
<div class="center-align">
    <a href="{{ url_for('add_book') }}" class="waves-effect waves-light amber darken-2 btn">Add Book!</a>
</div>
{% endif %}

<ul class="collapsible">
    {% for book in books %}
    <li>
        <div class="collapsible-header">
            <i class="fas fa-book"></i>
            <div class="padding-right">Name: {{ book.title.capitalize() }}</div>
            <div class="padding-right">Genre: {{ book.genre.capitalize() }}</div>
            <div class="padding-right">Author: {{ book.author.capitalize() }}</div>
            <div class="padding-right">Year Of Publishing: {{ book.year }}</div>
            <div>Rating: {{ book.rating }}/5</div>
        </div>
        <div class="collapsible-body shadow-background white-text">
            <div class="row">
                <div class="card-content white-text col s9 shadow-background">
                    <span class="card-title">Synopsis:</span>
                    <div>{{ book.synopsis }}</div>
                    <div>Series: {{ book.series_name }}</div>
                </div>

                <div class="col s3">
                    <span>Have You Read This?</span>
                    <a href="#" class="waves-effect waves-light btn-small">Add to library</a>
                </div>
                <div class="col s3">
                    <span>Want to Read This?</span>
                    <a href="#" class="waves-effect waves-light btn-small">Add to Read List</a>
                </div>
            </div>
            <div>
                <ul class="">
                    <li class="">
                        <h4 class="s6"><i class="fas fa-align-left"></i>Reviews</h4>

                        <a href="{{ url_for('review_book', book_id=book._id) }}"
                            class="waves-effect waves-light btn amber darken-2 s6">Review Book</a>

                    </li>

                    {% for review in reviews %}
                    <!--gets all reviews that match current book-->
                    {% if review.book_id == book._id|string %}

                    <li class="collection-item shadow-background">
                        <blockquote>"{{ review.review }}" - {{ review.reviewer }}</blockquote>
                        <!--only shows if review belongs to user-->
                        {% if review.reviewer == session["user"] %}

                        <a href="{{ url_for('edit_review', review_id=review._id) }}"
                            class="waves-effect waves-light btn-small amber darken-2">Edit Review</a>
                        <!--only shows if review belongs to user or if user is admin-->
                        {% if review.reviewer == session["user"] or user["admin"] %}

                        <a href="{{ url_for('delete_review', review_id=review._id) }}"
                            class="waves-effect waves-light btn-small red darken-2">Delete Review</a>

                        {% endif %}
                        {% endif %}

                    </li>

                    {% endif %}
                    {% endfor %}

                </ul>
            </div>



            <div class="row">
                <!--only shows if review belongs to user or if user is admin-->
                {% if book.added_by == session['user'] or user["admin"] %}
                <a href="{{ url_for('delete_book', book_id=book._id) }}"
                    class="waves-effect waves-light btn-small red darken-2">Delete Book</a>
                {% endif %}
            </div>

        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}