{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text text-shadow"> All Books </h3>

<div class="row center-align">
    <form action="{{ url_for('search') }}" methods="POST" class="col s12 m6 offset-m3 shadow-background white-text">
        <div class="input-field">
            <input type="text" id="query" name="query" class="validate" required>
            <label for="query">Search Books</label>
        </div>
        <div>
            <a href="{{ url_for('get_books') }}" class="red btn">Reset</a>
            <button type="submit" class="waves-effect waves-light btn-small green darken-2">
                <i class="fas fa-search left"></i> Search
            </button>
        </div>
    </form>
</div>

<!--only shows if user is logged in-->
{% if session['user'] %}
<div class="center-align">
    <a href="{{ url_for('add_book') }}" class="waves-effect waves-light green darken-4 btn">Add Book!</a>
</div>
{% endif %}

<ul class="collapsible">
    {% for book in books %}
    <li>
        <div class="collapsible-header white-text shadow-background">
            <i class="fas fa-book"></i>
            <div class="padding-right">Name: {{ book.title.capitalize() }}</div>
            <div class="padding-right">Genre: {{ book.genre.capitalize() }}</div>
            <div class="padding-right">Author: {{ book.author.capitalize() }}</div>
            <div class="padding-right">Year Of Publishing: {{ book.year }}</div>
            <div>Rating: {{ book.rating }}/5</div>
        </div>
        <div class="collapsible-body dark-shadow-background white-text">
            <div class="row">
                <div class="card-content white-text col s9 shadow-background">
                    <span class="card-title">Synopsis:</span>
                    <div>{{ book.synopsis }}</div>
                    <div>Series: {{ book.series_name }}</div>
                </div>
                <!-- add to library button -->
                <div class="col s3">
                    <span>Have You Read This?</span>
                    <a href="{{ url_for('add_to_library', book_id=book._id) }}" class="waves-effect waves-light btn-small green darken-2">Add to library</a>
                </div>
                <div>
                    <a href="{{ url_for('review_book', book_id=book._id) }}" class="waves-effect waves-light btn-small green darken-2">Review</a>
                </div>
                <div class="col s3">
                    <!--Checks if review belongs to user or if user is admin-->
                    {% if book.added_by == session['user'] or user["admin"] %}

                    <a class="waves-effect waves-light btn-small red darken-2 modal-trigger" href="{{ url_for('delete_book', book_id=book._id) }}">Delete Book</a>

                    {% endif %}
                </div>
            </div>
            <div>
                <ul class="">

                    <h6 class="s6"><i class="fas fa-align-left"></i>Reviews</h6>

                    {% for review in reviews %}
                    <!-- Gets all reviews that match current book-->
                    {% if review.book_id == book._id|string %}

                    <li class="collection-item shadow-background">
                        <blockquote>"{{ review.review }}" - {{ review.reviewed_by }}
                            <!-- Checks if review belongs to user-->
                            {% if review.reviewed_by == session["user"] %}

                            <a href="{{ url_for('edit_review', review_id=review._id) }}" class="waves-effect waves-light btn-small amber darken-4">Edit Review</a>
                            <!-- Checks if review belongs to user or if user is admin-->
                            {% if review.reviewed_by == session["user"] or user["admin"] %}

                            <a href="{{ url_for('delete_review', review_id=review._id) }}" class="waves-effect waves-light btn-small red darken-2">Delete Review</a>

                        </blockquote>

                        {% endif %}
                        {% endif %}

                    </li>

                    {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </li>

    </div>

    </li>
    {% endfor %}
</ul>

{% endblock %}