{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text text-shadow large-heading">Welcome to Book Club</h3>
<div class="row">
    <div class="col center-align shadow-background white-text s12 m6 offset-m3">
        <p>
            Our aim is to help you decide youre next book, based on reviews submitted by books fellow book lovers.<br>
            Once registiered, you will be able to:
            <ul>
                <li>Search our collection of books</li>
                <li>Add books to the collection</li>
                <li>Read the reviews left by other users</li>
                <li>Write your own reviews on any book</li>
                <li>Save books you've read</li>
                <li>Save books you want to read</li>
            </ul>

            So please, come in a join the club!
        </p>
        <a href="{{ url_for('sign_up') }}" class="btn-floating btn-large green darken-4 pulse"><i class="fas fa-book-open"></i></a>
    </div>
</div>

{% endblock %}