{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text text-shadow"> My Library </h3>
<div class="row">
    <ul class="collapsible col l6">
        <h6 class="center-align">Books I've read</h4>
        <li>
            <div class="collapsible-header">
                <i class="fas fa-align-left"></i>
                <div class="padding-right"></div>
            </div>
            <div class="collapsible-body">
            </div>
        </li>
    </ul>
    <ul class="collapsible col l6">
        <h6 class="center-align">Books To Read</h4>
        <li>
            <div class="collapsible-header">
                <i class="fas fa-align-left"></i>
                <div class="padding-right"></div>
            </div>
            <div class="collapsible-body">
            </div>
        </li>
    </ul>
</div>

{% endblock %}