{% extends "base.html" %}
{% block content %}
<h3 class="center-align white-text text-shadow large-heading"> My Library </h3>

<h4 class=" center-align text-shadow">Books I've read</h4>
<!--Books read collapsible-->
<ul class="collapsible row">
    <!-- Shows books from users books_read list-->
    {% for book in books_read %}
    <li>
        <div class="collapsible-header white-text dark-shadow-background">
            <i class="fas fa-book"></i>
            <div class="col s12">
                <span class="padding-right"><strong>Name:</strong> {{ book.title.capitalize() }}</span>
                <span class="padding-right"><strong>Genre:</strong> {{ book.genre.capitalize() }}</span>
                <span class="padding-right"><strong>Author:</strong> {{ book.author.capitalize() }}</span>
                <span><strong>Rating:</strong> {{ book.rating }}/5</span>
            </div>
        </div>
        <div class="collapsible-body dark-shadow-background white-text">
            <div class="row">
                <div class="card-content white-text col s12 shadow-background">
                    <div class="row">
                        <div class="col s12">
                            <strong>Synopsis:</strong> <br>
                            {{ book.synopsis }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <strong class="padding-right">Year Of Publishing:</strong> <br>
                            {{ book.year }}
                        </div>
                    </div>
                    {% if book["series_name"] %}
                    <div>
                        <div class="col s12">
                            <strong class="padding-right">Series:</strong> <br>
                            {{ book.series_name }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <form action="{{ url_for('remove_from_books_read', book_id=book._id) }}" method="POST">
                    <div class="col s3">
                        <div class="row">
                            <button class="btn waves-effect waves-light green darken-2" type="submit" name="action">Remove From Library
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
</div>


<h4 class="center-align offset-m3 text-shadow">Books To Read</h5>
    <!-- Books to read collapsible-->
    <ul class="collapsible row">
        {% for book in books_to_read %}
        <li>
            <div class="collapsible-header white-text dark-shadow-background">
                <i class="fas fa-book"></i>
                <div class="col s12">
                    <span class="padding-right"><strong>Name:</strong> {{ book.title.capitalize() }}</span>
                    <span class="padding-right"><strong>Genre:</strong> {{ book.genre.capitalize() }}</span>
                    <span class="padding-right"><strong>Author:</strong> {{ book.author.capitalize() }}</span>
                    <span><strong>Rating:</strong> {{ book.rating }}/5</span>
                </div>
            </div>
            <div class="collapsible-body dark-shadow-background white-text">
                <div class="row">
                    <div class="card-content white-text col s12 shadow-background">
                        <div class="row">
                            <div class="col s12">
                                <strong>Synopsis:</strong> <br>
                                {{ book.synopsis }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <strong class="padding-right">Year Of Publishing:</strong> <br>
                                {{ book.year }}
                            </div>
                        </div>
                        {% if book["series_name"] %}
                        <div>
                            <div class="col s12">
                                <strong class="padding-right">Series:</strong> <br>
                                {{ book.series_name }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col s9">
                        <form action="{{ url_for('remove_from_to_read', book_id=book._id) }}" method="POST">
                            <div class="col s3 m5">
                                <div class="row">
                                    <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">remove from to read?
                                    </button>
                                </div>
                            </div>
                        </form>
                        <form action="{{ url_for('add_to_books_read', book_id=book._id) }}" method="POST">
                            <div class="col s3 m5">
                                <div class="row">
                                    <button class="btn waves-effect waves-light green darken-2" type="submit" name="action">Add to books read?
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    {% endblock %}