{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text text-shadow"> My Library </h3>
<!--Books read collapsible-->
<div class="row">
    <ul class="collapsible col s12 m9 ">
        <h5 class="center-align white-text text-shadow">Books I've read</h5>
        <!-- Shows books from users books_read list-->



        <li>
            <div class="collapsible-header shadow-background white-text center-align">
                <i class="fas fa-book-open"></i>
                <h6 class="padding-right"> </h6>
            </div>
            <div class="collapsible-body white-text text-shadow dark-shadow-background">
                <div class="row">
                    <div class="col s3">
                        <div class="padding-right"><strong>Genre:</strong> </div>
                        <div class="padding-right"><strong>Author:</strong> </div>
                        <div class="padding-right"><strong>Year Of Publishing:</strong></div>
                        <div><strong>Rating:</strong> </div>
                    </div>
                    <div class="col s9">

                    </div>

                    <form action="{{ url_for('remove_from_books_read') }}" method="POST">
                        <div class="col s3">
                            <div class="row">
                                <button class="btn waves-effect waves-light green darken-2" type="submit" name="action">Remove From Library
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Checks if book added by user or if user admin-->

                </div>
            </div>
        </li>

    </ul>
</div>

<!-- Books to read collapsible-->
<div class="row">
    <ul class="collapsible col s12 m9 offset-m3">
        <h5 class="center-align white-text text-shadow">Books To Read</h5>
        {% for book in books_to_read %}
        <li>
            <div class="collapsible-header shadow-background white-text center-align">
                <i class="fas fa-book-open"></i>
                <h6 class="padding-right"> {{ book["title"].capitalize() }}</h6>
            </div>
            <div class="collapsible-body white-text text-shadow dark-shadow-background">
                <div class="row">
                    <div class="col s3">
                        <div class="padding-right"><strong>Genre:</strong> {{ book["genre"].capitalize() }}</div>
                        <div class="padding-right"><strong>Author:</strong> {{ book["author"].capitalize() }}</div>
                        <div class="padding-right"><strong>Year Of Publishing:</strong> {{ book["year"] }}</div>
                        <div><strong>Rating:</strong> {{ book["rating"] }}/5</div>
                    </div>
                    <div class="col s9">
                        {{ book["synopsis"] }}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}