{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text text-shadow large-heading"> My Reviews </h3>
<div class=row>
    <div class=" col s12 m8 offset-m2">
        {% if user["books_reviewed"]|length > 0 %}
        <ul class="collapsible">
            {% for review in reviews %}
            <!-- checks if review was posted by user -->
            {% if review.reviewed_by == user["_id"]|string %}
            <li>
                {% for book in books %}
                <!-- gets relevent book to use as variable -->
                {% if book["_id"]|string == review.book_id %}
                <div class="collapsible-header white-text shadow-background">
                    <i class="fas fa-align-left"></i>
                    <div class="col s12">
                        <span class="padding-right"><strong>Book:</strong> {{ review.book_reviewed }}</span>
                        <span class="padding-right"><strong>Author:</strong> {{ book.author.capitalize() }}</span>
                        <span><strong>Rating:</strong> {{ review.rating }}/5</span>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="collapsible-body white-text dark-shadow-background">

                    <div> {{ review.review }}
                    </div>
                    <div>
                        <a href="{{ url_for('edit_review', review_id=review._id) }}" class="waves-effect waves-light btn-small amber darken-2">Edit</a>
                        <a href="{{ url_for('confirm_review_delete', review_id=review._id) }}" class="waves-effect waves-light btn-small red darken-2">Delete</a>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <div class="center-align white-text">
            <h2 class="shadow-background">Find some books to review..</h2>
            <a href="{{ url_for('get_books') }}" class="waves-effect waves-light btn-small green darken-4">Search
                Books</a>
        </div>
        {% endif %}
    </div>
    {% endblock %}