{% extends "base.html" %}
{% block content %}

<h3 class="center-align"> Review Book </h3>

<div class="row center-align">
    {{ book.title }}
</div>

<div class="row">
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('review_book', book_id=book._id) }}">
        <div class="row">
            <div class="input-field col s12 ">
                <input id="book_reviewed" name="book_reviewed" value="{{ book.title }}" type="text" class="validate" required >
                <label for="book_reviewed">Book Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 ">
                <textarea id="review" name="review"  class="materialize-textarea" required></textarea>
                <label for="review">Review</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 ">
                <input id="book_id" name="book_id" value="{{ book._id }}" type="text" class="validate" required >
                <label for="book_id">Book Id</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 ">
                <input id="reviewer" name="reviewer" value="{{ session['user'] }}" type="text" class="validate" required >
                <label for="reviewer">Reviewed by</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light amber darken-2" type="submit" name="action">Review
                <i class="fas fa-edit"></i>
            </button>
        </div>
    </form>
</div>

{% endblock %}