{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text text-shadow large-heading">Sign Up!</h3>


<div class="row">
    <form class="col s12 m6 offset-m3 dark-shadow-background center-align" method="POST" action="{{ url_for('sign_up') }}">
        <div class="row">
            <!--username imput field-->
            <div class="input-field col s12">
                <input id="username" name="username" type="text" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9_-]{3,15}$" class="validate" required>
                <label for="username">User Name</label>
            </div>
            <!--password imput field-->
            <div class="input-field col s12">
                <input id="password" name="password" type="password" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9]{3,15}$" class="validate" required>
                <label for="password">Password</label>
            </div>
            <!--confirm password input field-->
            <div class="input-field col s12">
                <input id="confirm_password" name="confirm_password" type="password" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9]{3,15}$" class="validate" required>
                <label for="confirm_password">Confirm Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light green darken-2" type="submit" name="action">
            Register
        </button>
        <div class="row center-align padding-top">
            <a href="{{ url_for('log_in') }}" class="white-text text-shadow">Already have an account? Click here to log
                in!</a>
        </div>
    </form>
</div>

{% endblock %}