{% extends "base.html" %}
{% block content %}

<h3 class="large-heading center-align white-text text-shadow medium-heading"> {{ user["username"].capitalize() }}'s Profile </h3>

<div class="row">
    <a href="{{ url_for('get_books') }}">
        <div class="col s6 l4 offset-l1">
            <div class="card shadow-background">
                <div class="card-content white-text text-shadow center-align">
                    <span class="card-title">
                        <i class="fas fa-book large-icon"></i>
                        <i class="fas fa-search"></i>
                    </span>
                    <h4>
                        Search Book
                    </h4>
                </div>
            </div>
        </div>
    </a>
    <a href=" {{ url_for('add_book') }} ">
        <div class="col s6 l4 offset-l2">
            <div class="card shadow-background">
                <div class="card-content white-text text-shadow center-align">
                    <span class="card-title">
                        <i class="fas fa-plus large-icon"></i>
                    </span>
                    <h4>
                        Add Book
                    </h4>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a href="{{ url_for('my_reviews') }}">
        <div class="col s6 l4 offset-l1">
            <div class="card shadow-background">
                <div class="card-content white-text text-shadow center-align">
                    <span class="card-title">
                        <i class="fas fa-align-left large-icon"></i>
                    </span>
                    <h4>
                        My Reviews
                    </h4>
                </div>
            </div>
        </div>
    </a>
    <a href="{{ url_for('my_library') }}">
        <div class="col s6 l4 offset-l2">
            <div class="card shadow-background">
                <div class="card-content white-text text-shadow center-align">
                    <span class="card-title">
                        <i class="fas fa-book large-icon"></i>
                        <i class="fas fa-heart"></i>
                    </span>
                    <h4>
                        My Library
                    </h4>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="row">
    <a href="{{ url_for('edit_account', username=session['user']) }}">
        <div class="col s6 l4 offset-l1">
            <div class="card shadow-background">
                <div class="card-content white-text text-shadow center-align">
                    <span class="card-title">
                        <i class="fas fa-user large-icon"></i>
                        <i class="fas fa-edit"></i>
                    </span>
                    <h4>
                        Edit Account
                    </h4>
                </div>
            </div>
        </div>
    </a>
</div>
{% if user["admin"] %}

<h3 class="center-align white-text text-shadow"> Admin Section </h3>

<div class="row">
    <a href="{{ url_for('add_genre') }}">
        <div class="col s6 l4 offset-l1">
            <div class="card shadow-background">
                <div class="card-content white-text text-shadow center-align">
                    <span class="card-title">
                        <i class="fas fa-plus large-icon"></i>
                    </span>
                    <h4>
                        Add Genre
                    </h4>
                </div>
            </div>
        </div>
    </a>
    <a href="{{ url_for('edit_genre') }}">
        <div class="col s6 l4 offset-l2">
            <div class="card shadow-background">
                <div class="card-content white-text text-shadow center-align">
                    <span class="card-title">
                        <i class="fas fa-edit large-icon"></i>
                    </span>
                    <h4>
                        Edit Genre
                    </h4>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a href="{{ url_for('remove_user') }}">
        <div class="col s6 l4 offset-l1">
            <div class="card shadow-background">
                <div class="card-content white-text text-shadow center-align">
                    <span class="card-title">
                        <i class="fas fa-remove large-icon"></i>
                    </span>
                    <h4>
                        Remove User
                    </h4>
                </div>
            </div>
        </div>
    </a>
</div>
{% endif %}



{% endblock %}